.vs/
packages/
dotnet/dotnetframework/SecurityAPICommons/bin/
dotnet/dotnetframework/SecurityAPICommons/obj/
dotnet/dotnetframework/GeneXusXmlSignature/obj/
dotnet/dotnetframework/GeneXusXmlSignature/bin/
dotnet/dotnetframework/GeneXusXmlSignature/packages.config
dotnet/dotnetframework/SecurityAPICommons/packages.config
dotnet/dotnetframework/GeneXusSftp/packages.config
dotnet/dotnetframework/GeneXusSftp/obj/
dotnet/dotnetframework/GeneXusSftp/bin/
dotnet/dotnetframework/GeneXusJWT/packages.config
dotnet/dotnetframework/GeneXusJWT/bin/
dotnet/dotnetframework/GeneXusJWT/obj/
dotnet/dotnetframework/GeneXusCryptography/packages.config
dotnet/dotnetframework/GeneXusCryptography/obj/
dotnet/dotnetframework/GeneXusCryptography/bin/
dotnet/dotnetcore/SecurityAPICommonsNetCore/obj/
dotnet/dotnetcore/SecurityAPICommonsNetCore/bin/
dotnet/dotnetcore/GeneXusXmlSignatureNetCore/bin/
dotnet/dotnetcore/GeneXusXmlSignatureNetCore/obj/
dotnet/dotnetcore/GeneXusSftpNetCore/obj/
dotnet/dotnetcore/GeneXusSftpNetCore/bin/
dotnet/dotnetcore/GeneXusJWTNetCore/obj/
dotnet/dotnetcore/GeneXusJWTNetCore/bin/
dotnet/dotnetcore/GeneXusCryptographyNetCore/obj/
dotnet/dotnetcore/GeneXusCryptographyNetCore/bin/
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/GeneXusFtpsNetCore.csproj.nuget.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/GeneXusFtpsNetCore.csproj.nuget.dgspec.json
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/GeneXusFtpsNetCore.csproj.nuget.g.props
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/GeneXusFtpsNetCore.csproj.nuget.g.targets
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/project.assets.json
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCore.AssemblyInfo.cs
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCore.AssemblyInfoInputs.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCore.assets.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCore.csproj.CopyComplete
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCore.csproj.FileListAbsolute.txt
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCore.csprojAssemblyReference.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCoreImpl.dll
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Debug/netcoreapp3.1/GeneXusFtpsNetCoreImpl.pdb
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCore.AssemblyInfo.cs
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCore.AssemblyInfoInputs.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCore.assets.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCore.csproj.CopyComplete
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCore.csproj.FileListAbsolute.txt
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCore.csprojAssemblyReference.cache
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCoreImpl.dll
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/Release/netcoreapp3.1/GeneXusFtpsNetCoreImpl.pdb
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Debug/netcoreapp3.1/GeneXusFtpsNetCoreImpl.deps.json
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Debug/netcoreapp3.1/GeneXusFtpsNetCoreImpl.dll
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Debug/netcoreapp3.1/GeneXusFtpsNetCoreImpl.pdb
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Debug/netcoreapp3.1/GeneXusSecurityAPICommonsNetCoreImpl.dll
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Debug/netcoreapp3.1/GeneXusSecurityAPICommonsNetCoreImpl.pdb
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Release/netcoreapp3.1/GeneXusFtpsNetCoreImpl.deps.json
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Release/netcoreapp3.1/GeneXusFtpsNetCoreImpl.dll
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Release/netcoreapp3.1/GeneXusFtpsNetCoreImpl.pdb
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Release/netcoreapp3.1/GeneXusSecurityAPICommonsNetCoreImpl.dll
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/Release/netcoreapp3.1/GeneXusSecurityAPICommonsNetCoreImpl.pdb
dotnet/dotnetframework/GeneXusFtps/obj/
dotnet/dotnetframework/GeneXusFtps/bin/
dotnet/dotnetframework/GeneXusFtps/packages.config
dotnet/dotnetcore/GeneXusFtpsNetCore/obj/
dotnet/resources/key.snk
dotnet/dotnetcore/GeneXusFtpsNetCore/bin/
/test/dotnetcore/SecurityAPITestNetCore/.runsettings
/test/dotnetframework/SecurityAPITest/.runsettings
/test/dotnetframework/SecurityAPITest/obj/Debug/net471/SecurityAPITest.AssemblyInfoInputs.cache
/test/dotnetframework/SecurityAPITest/obj/Debug/net471/SecurityAPITest.GeneratedMSBuildEditorConfig.editorconfig
/test/dotnetframework/SecurityAPITest/obj/Debug/net471/SecurityAPITest.csprojAssemblyReference.cache
/test/resources/key.snk
