.vs/
packages/
test/
dotnet/dotnetframework/SecurityAPICommons/bin/
dotnet/dotnetframework/SecurityAPICommons/obj/
dotnet/dotnetframework/GeneXusXmlSignature/obj/
dotnet/dotnetframework/GeneXusXmlSignature/bin/
dotnet/dotnetframework/GeneXusXmlSignature/packages.config
dotnet/dotnetframework/SecurityAPICommons/packages.config
dotnet/dotnetframework/GeneXusSftp/packages.config
dotnet/dotnetframework/GeneXusSftp/obj/
dotnet/dotnetframework/GeneXusSftp/bin/
dotnet/dotnetframework/GeneXusJWT/packages.config
dotnet/dotnetframework/GeneXusJWT/bin/
dotnet/dotnetframework/GeneXusJWT/obj/
dotnet/dotnetframework/GeneXusCryptography/packages.config
dotnet/dotnetframework/GeneXusCryptography/obj/
dotnet/dotnetframework/GeneXusCryptography/bin/
dotnet/dotnetcore/SecurityAPICommonsNetCore/obj/
dotnet/dotnetcore/SecurityAPICommonsNetCore/bin/
dotnet/dotnetcore/GeneXusXmlSignatureNetCore/bin/
dotnet/dotnetcore/GeneXusXmlSignatureNetCore/obj/
dotnet/dotnetcore/GeneXusSftpNetCore/obj/
dotnet/dotnetcore/GeneXusSftpNetCore/bin/
dotnet/dotnetcore/GeneXusJWTNetCore/obj/
dotnet/dotnetcore/GeneXusJWTNetCore/bin/
dotnet/dotnetcore/GeneXusCryptographyNetCore/obj/
dotnet/dotnetcore/GeneXusCryptographyNetCore/bin/
